.Quiz {
    color: #42245E;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Quiz-Title {
    font-family: LeckerLi One, cursive;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin-top: 40px;
}