.NavBar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

h1 {
    color: white;
    margin-left: 30px;
    font-family: Francois One;
    font-weight: normal;
    font-size: 4.5vw;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.NavBar-Links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

li {
    font-family: Oswald;
    font-size: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline;
    justify-content: space-between;
    flex-wrap: row wrap;
    margin: 2vw;
}

li:hover, button:hover {
    cursor: pointer;
}
form {
    display: inline;
}

input {
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    position: relative;
    background-color: transparent;
    transition: 0.3s all;
    font-family: Oswald;
    font-size: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.Search-Button {
    border-radius: 4px;
    border: none;
    background-color: #314156;
    color: white;
    position: relative;
    transition: 0.3s all;
    font-family: Oswald;
    font-size: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}


::placeholder {
    color: white;
    font-family: Oswald;
    font-size: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
