.Quiz-Answers {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Quiz-Answers > input {
  box-sizing: border-box;
  box-shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.4);
  margin: 6px;
  text-transform: none;
  text-align: center;
}

.Submit-Button {
  border-radius: 4px;
  border: 1px solid #42245e;
  background-color: #42245e;
  color: white;
  position: relative;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 8px;
  width: 100%;
  transition: 0.3s;
  margin-top: 25px;
  margin-bottom: 6px;
}

.Submit-Button:hover {
  border: 1px solid #54396e;
  background-color: #54396e;
  transition: 0.3s;
  transform: scale(1.1);
  color: white;
}
.Reset-Button {
  border-radius: 4px;
  border: 1px solid #42245e;
  background-color: white;
  color: #42245e;
  position: relative;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 8px;
  width: 100%;
  transition: 0.3s;
}

.Reset-Button:hover {
  border: 1px solid #54396e;
  transition: 0.3s;
  transform: scale(1.1);
  color: #42245e;
}
