.Quiz-Answers {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Quiz-Answers > input {
  box-sizing: border-box;
  box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.2);
  margin: 10px;
  text-transform: none;
}
