.Footer {
  font-family: Oswald, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  opacity: 0.5;
  margin-top: 18px;
  height: 6vh;
  position: relative;
  bottom: 0;
}
