.Darken-Overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.App {
  background-image: url("peace.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(180deg, #475D7C -1.91%, #82A5BE 100%); */
  width: 100vw;
  height: 100vh;
}