.ConflictStyles-Container {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
}

.ConflictStyles-Left {
    background-color: #B990C0;
    color: right;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: -12vh;
    width: 30vw;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.ConflictStyles-Right {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100vh;
    margin-top: -12vh;
    position: relative;
    z-index: 0;
}

.ConflictStyles-Header {
    color: white;
    font-family: Lato, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 5vw;
    margin-left: 50px;
}